[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[user]
  name = argshook
  email = argshook@gmail.com
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[format]
  pretty = "Commit: %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"

[core]
  excludesfile = /Users/argshook/.gitignore_global
  editor = nvim

[credential]
  helper = cache --timeout=3600
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
