[submodule ".argsdotmodules/antigen"]
	path = .argsdotmodules/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".argsdotmodules/multitail"]
	path = .argsdotmodules/multitail
	url = https://github.com/flok99/multitail
