# ignore everything in this folder
/*

# but allow certain things:
!.gitignore
!.gitmodules
!.gitconfig
!.argsdotfiles
!.argsdotmodules
!.vimrc
!.tmux.conf
!.zshrc
!.config/i3status
!.config/i3
!.config/nvim
!.ssh/config
!screen-256color.ti
!.bash_profile

# enable few misc thingies
!.eslintrc

# also ignore things that might
# come up in allowed folders
*.swp

