[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
[user]
  name = argshook
  email = argshook@gmail.com
  signingkey = arijus
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto
[format]
  pretty = "Commit: %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"

[core]
  editor = nvim
  pager = delta

[credential]
  helper = cache --timeout=3600
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[difftool]
  prompt = false
[instaweb]
  browser = chromium
[web]
  browser = chromium
[commit]
  gpgsign = false

[color "diff-highlight"]
  oldnormal    = red bold
  oldHighlight = red bold 52
  newNormal    = green bold
  newHighlight = green bold 22

[color "diff"]
  meta       = 11
  frag       = magenta bold
  commit     = yellow bold
  old        = red bold
  new        = green bold
  whitespace = red reverse
[pull]
  rebase = true
