# ignore everything in this folder
/*

# but allow certain things:
!.gitignore
!.gitmodules
!.gitconfig
!.argsdotfiles
!.argsdotmodules
!.vimrc
!.tmux.conf
!.zshrc
!.config/
.config/*
!.config/conky/
!.config/dunst/
!.config/gh/config.yml
!.config/i3/
!.config/i3lock/
!.config/i3status/
!.config/mpv/mpv.conf
.config/nvim/spell
!.config/nvim/
!.config/picom/
!.config/polybar/
!.config/ranger/scope.sh
!.config/ranger/rc.conf
!.config/ranger/rifle.conf
!.config/ranger/commands.py
!.config/qutebrowser/
.config/qutebrowser/*
!.config/qutebrowser/config.py
!.config/qutebrowser/userscripts/
!.config/rofi/
!.config/tmuxinator/
!.ssh/config
!screen-256color.ti
!.bash_profile

# enable few misc thingies
!.eslintrc

# also ignore things that might
# come up in allowed folders
*.swp

__pycache__
