# ignore everything in this folder
/*

# but allow certain things:
!.gitignore
!.argsdotfiles/
!.vimrc
!.tmux.conf
!.zshrc
!.gitconfig
!.config/i3status
!.config/i3

# enable few misc thingies
!.eslintrc

# also ignore things that might
# come up in allowed folders
*.swp

