# set to yes if you want Conky to be forked in the background
background no
update_interval 1.0

override_utf8_locale yes

# Use double buffering (reduces flicker, may not work for everyone)
double_buffer yes

# Subtract file system buffers from used memory?
no_buffers yes
out_to_console no
out_to_stderr no

text_buffer_size 2048

# Window specifications
# Create own window instead of using desktop (required in nautilus)
own_window yes
own_window_class conky
own_window_type override # allow to be part of the desktop background : Do not minimize on Show Desktop + icons over conky
own_window_transparent yes
own_window_hints undecorated,below,sticky,skip_taskbar,skip_pager

border_inner_margin 0
border_outer_margin 0

# Text alignment, other possible values are commented
alignment bottom_right

minimum_size 450 10
maximum_width 1000

# Gap between borders of screen and text
gap_x 100
gap_y 50


# Graphics settings
draw_shades yes
# Draw outlines?
draw_outline no
# Draw borders around text
draw_borders false
draw_graph_borders no
# border_width 0

# Text settings
use_xft yes
xftalpha 0
text_buffer_size 2048
xftfont Square Sans Serif 7,:size=20
# set to yes if you want all text to be in uppercase
uppercase no

# Default colors and also border colors
default_color 800058 # Hexa, or name, ex : white
# default_shade_color white
# default_outline_color white

color1  ffffff
color2  586e75
color3  073642

TEXT
${color1}${font Roboto:weight=Light:size=50}${time %H}${color1}${font Roboto:weight=Thin:size=50}:${time %M}${font}
${color1}${font Roboto:size=18}${voffset -95}${offset 280}${time %A}${font}
${font Roboto:weight=Light:size=11}${voffset -10}${offset 280}${time %d %B %Y}${font}

