conky.config = {
-- set to yes if you want Conky to be forked in the background
	update_interval = 10.0,
	override_utf8_locale = true,

-- Use double buffering (reduces flicker, may not work for everyone)
	double_buffer = true,

-- Subtract file system buffers from used memory?
	no_buffers = true,
	out_to_console = false,
	out_to_stderr = false,

	text_buffer_size = 2048,

-- Window specifications
-- Create own window instead of using desktop (required in nautilus)
	own_window = true,
	own_window_class = 'conky',
	own_window_type = 'override',-- allow to be part of the desktop background : Do not minimize on Show Desktop + icons over conky
	own_window_transparent = true,
	own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',

	border_inner_margin = 0,
	border_outer_margin = 0,

-- Text alignment, other possible values are commented
	alignment = 'bottom_right',

	minimum_width = 450, minimum_height = 10,
	maximum_width = 1000,

-- Gap between borders of screen and text
	gap_x = 200,
	gap_y = 50,


-- Graphics settings
	draw_shades = true,
-- Draw outlines?
	draw_outline = false,
-- Draw borders around text
	draw_borders = false,
	draw_graph_borders = false,
-- border_width 0

-- Text settings
	use_xft = true,
	xftalpha = 0,
	text_buffer_size = 2048,
	font = 'Roboto:size=20',
-- set to yes if you want all text to be in uppercase
	uppercase = false,

-- Default colors and also border colors
	default_color = '#800058',-- Hexa, or name, ex : white
-- default_shade_color white
-- default_outline_color white

  color1 = '#ffffff',
  color2 = '#586e75',
  color3 = '#073642',

};

conky.text = [[
  ${color1}${font Roboto:weight=Light:size=50}${time %H}${color1}${font Roboto:weight=Thin:size=50}:${time %M}${font}
  ${color1}${font Roboto:size=18}${voffset -100}${offset 280}${time %A}${font}
  ${font Roboto:weight=Light:size=11}${voffset -25}${offset 280}${time %d %B %Y}${font}
  ${font Roboto:weight=Light:size=10}${voffset -30}${offset 10}${exec mia-age}${font}
  ${font Roboto:weight=Light:size=8}${voffset -55}${offset 10}Wix ${execi 300 "curl -s https://financialmodelingprep.com/api/v3/quote/WIX | jq '.[0].price'"} ${font}
  ${font Roboto:weight=Light:size=7}${voffset -63}${offset 10}${exec task-conky-counters}${font}
]];
